form input{
    width:50%;
    display: block;
    box-sizing: border-box;
}
.count{
    text-align: center;
}
#button1,#button2,#button3{
    background-color: lightblue;
}
body{
    background-color: rgb(236, 202, 207);
}

h3:hover{
    color: blue;
}
.tab{
    display:block;
    width:50%;
}
.heading{
    color:brown;
    text-align: center;
}
.content{
    width:50%;
    display:flex;
    justify-content: space-between;
}
.tab-content{
    display:none;
}
form input[type="submit"]{
    max-width:max-content;
}
.input-container{
    width:50%;
}
.input-container label{
    font-size:14px;
}
.creative{
    display:flex;
}
