form input{
    width:50%;
    display: block;
    box-sizing: border-box;
}


.tab{
    display:block;
    width:50%;
}
.heading{
    color:brown;
    text-align: center;
}
.content{
    width:50%;
    display:flex;
    justify-content: space-between;
}
.tab-content{
    display:none;
}
form input[type="submit"]{
    max-width:max-content;
}
.input-container{
    width:50%;
}
.input-container label{
    font-size:14px;
}
.creative{
    display:flex;
}
